@import '../../../index';

.container {
    display: flex;
    position: absolute;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    //flex-direction: column;
}

.subrouter {
    background: $background;
    flex: 1;
}

