@import '../index.scss';

.container {
    display: flex;
    flex-direction: column;

    height: 100%;

    overflow-y: scroll;

    background-color: #f5f6f7;
}

.header {
    flex: none;
    justify-self: stretch;
    height: 268px;
    background-color: white;

    display: flex;
    justify-content: center;
}

.headerTextContainer {
    flex: 1;
    max-width: 1266px;

    padding-top: 110px;

    display: flex;
    flex-direction: column;
}

.headerTextInput {
    border: 0;

    font-family: 'Fredoka One', cursive;
    font-size: 64px;

    &::placeholder {
        color: $unimportant;
    }
}

.headerTextDate {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 600;

    color: rgba(12, 28, 45, 0.5);
}

.editorContainer {
    padding-top: 66px;
    display: flex;
    justify-content: center;
}

.editor {
    flex: auto;
    max-width: 870px;

    padding: 48px;

    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
    background-color: white;

    font-size: 1.33333em;

    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: 'Fredoka One', cursive;
    }

    strong {
        font-weight: 700;
    }
}

.sidebar {
    flex: none;
    max-width: 272px;
    margin-left: 30px;
    width: 270px;

    display: flex;
    flex-direction: column;
    align-content: stretch;
}

.tips {
    padding: 24px;
    padding-top: 26px;

    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
    background-color: white;
}

.tipIcon {
    margin-bottom: 10px;
}

.tipTitle {
    padding-bottom: 12px;

    font-family: 'Fredoka One', cursive;
    font-size: 32px;
    color: $text;
}

.tipPoint {
    margin-top: 36px;

    font-family: 'Fredoka One', cursive;
    font-size: 24px;
    color: $text;
}

.tipDesc {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: rgba(12, 28, 45, 0.5);
}
