.editorContainer {
    display: flex;
    justify-content: center;
}

.editor {
    flex: auto;
    max-width: 870px;

    font-size: 1.33333em;

    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: 'Fredoka One', cursive;
    }

    strong {
        font-weight: 700;
    }
}

.sidebar {
    flex: none;
    max-width: 272px;
    width: 270px;
    background-color: grey;
}
