$primary: #63aeff;
$title: #0c1c2d;
$text: #0c1c2d;
$accent: #ffca0c;

.wrapper {
    display: flex;
    flex-direction: row;
}

.Form-wrapper {
    display: flex;
    flex-direction: column;
    margin: auto 42px;
}

.Form-wrapper > input {
    width: 473.7px;
    margin-bottom: 32px;
}

.Form-wrapper > input:last-child {
    margin-bottom: 0;
}

.Dont-have-an-account {
    font-family: 'Source Sans Pro';
    font-size: 24px;
    text-decoration: underline;
    color: $text;
    margin-left: 84px;
}

.image {
    margin-top: 10px;
    padding: 0;
    // margin-right: 42px;
    width: 152px;
    height: 152px;
    border: none;
    border-radius: 50% !important;
    margin-left: 84px;
    display: inline-block;
}

.uploder {
    cursor: pointer;
    outline: none;
}

.text-style {
    color: $accent;
}
