$primary: #63aeff;
$title: #0c1c2d;
$text: #0c1c2d;
$accent: #ffca0c;


.women {
	margin: auto 136px;
}

.Form-wrapper {
	margin: auto 84px;
}

.Form-wrapper input {
	width: 606px
}

.Form-wrapper>input:first-child {
	margin-bottom: 32px;
}

.Form-wrapper>input:last-child {
	margin-bottom: 36px;
}

.Dont-have-an-account {
	font-family: 'Source Sans Pro';
	font-size: 18px;
	text-decoration: underline;
	color: $text;
	margin-top: 36px;
	width: 606px;
	position: absolute;
}

.text-style {
	color: $accent;
}
